body{
     background-color:rgb(245, 133, 133); 
} 
h1{ 
    font-size: 60px;
    color: rgb(255, 255, 255); text-align: center; }
     p{ font-size: 30px; color: rgb(255, 255, 255); text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    } img{ 
        width: 500px; 
        height: 500px; 
        margin:60px;
     margin-left: 700px;
    }
    .logodecabecalho{
        width:150px;
        margin-left: 30px;
        margin-top: 50px;
    }
    
    
    .itenm_lista_cabecalho{
        display: flex;
        margin-left: 250px;
    }
    .item_lista_cabecalho{
        color: #a02822;
        list-style: none;
        text-transform: uppercase;
        font-size: 20px;
        padding: 15px;
    }